body {
  background-color: #000000;
  color: #ffffff;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_gbRsBGJx-075Nvy69YuVNtX0u0BrYx8gOhNmvmOuXA&s=10);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover; */
    background: black url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_gbRsBGJx-075Nvy69YuVNtX0u0BrYx8gOhNmvmOuXA&s=10) no-repeat right top
    
    
    
    
  
}
